html, body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
}

p {
    font-weight: 400;
    line-height: 1.6em;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #4F3674;
}

h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
    color: #4F3674;
}

button {
    background-color: #4F3674;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #6B4F9B;
}

span {
    font-weight: bold;
    color: #B22222;
}

address {
    text-align: center;
}

a {
    font-size: 1.25em;
    font-weight: bold;
    color: #4F3674;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

a:visited {
    color: #6B4F9B;
}